		#container {
			width: 40%;
		}

		.carousel {
		    position: relative;
		    /* Mozna zmodyfikowac do dostosowania do strony */
		  
			}

		.carousel-inner {
		    position: relative;
		    overflow: hidden;
		    width: 80%;
		    height: 50%;
		    padding-left: 10%;
		    padding-right: 10%;
		    margin-top: 4%;
		}

		.carousel-open:checked + .carousel-item {
		    position: static;
		    opacity: 100;
		    height: 100%;
		    display: inline-flex;
		}

		.carousel-item {
		    display: none;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: space-between;
		    align-items: flex-start;
		    position: absolute;
		    opacity: 0;
		   
		    width: 100%;
		    max-height: 50%;
		}

		.carousel-item img {
		    display: flex;
		    height: auto;
		    max-width: 50%;
		    left: 25%;
		}
/* Kontrolki karuzeli */
		.carousel-control {
		    display: none;
		    position: absolute;
		    top: 25%;
		    -webkit-transform: translate(0, -50%);
		    cursor: pointer;
		    -ms-transform: translate(0, -50%);
		    transform: translate(0, -50%);
		    text-align: center;
		}

		.carousel-control.prev {
		    left: 0%;
		}

		.carousel-control.next {
		    right: 0%;
		}

		#carousel-1:checked ~ .control-1,
		#carousel-2:checked ~ .control-2,
		#carousel-3:checked ~ .control-3,
		#carousel-4:checked ~ .control-4,
		#carousel-5:checked ~ .control-5,
		#carousel-6:checked ~ .control-6 {
		    display: block;
		}

	

/* Panele wyswietlane wewnatrz karuzeli, 3 obrazki */
		.item_to_show_left{
			width: 50%;
			height: 90%;
			background-color: #313131;
			margin-top: 2%;
			/* Odbicie dla google chrome*/
			-webkit-box-reflect: below -10% -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 5%, transparent 35%, transparent 100%);
		}
		

		.item_to_show_right{
			display: none;
			width: 50%;
			height: 90%;
			background-color: #313131;
			margin-top: 2%;
			-webkit-box-reflect: below -10% -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 5%, transparent 35%, transparent 100%);

		}
	
		.item_to_show_center{
			display: none;
			width: 50%;
			height: 90%;
			background-color: #313131;
			margin-top: 2%;
			position: relative;
			-webkit-box-reflect: below -10% -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 5%, transparent 35%, transparent 100%);
		}

/* Odbicie, tylko dla Firefox. NIE DZIALA ZA DOBRZE */
		.mirror{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0%;
			left: 0%;
			transform: rotateX(180deg);
			transform-origin: bottom center;
			background:  -moz-linear-gradient(bottom,	rgba(255, 255, 255, 0.91) 10%,
													  	rgba(255, 255, 255, 0.92) 20%,
													  	rgba(255, 255, 255, 0.93) 30%, 
													  	rgba(255, 255, 255, 0.98) 40%, 
													  	rgba(255, 255, 255, 1.0)50%), -moz-element(#catA);
			z-index: -5;
		}
/* Biala linia oddzielajaca */
		.item_to_show_inside{
			display: none;
			width: 2%;
			height: 90%;
			background-color: #fff;
			margin-top: 2%;
		}
		
/* Panel */
		div.polaroid{
			position: relative;
			margin-left: 4%;
			margin-right: 4%;
		}

		div.polaroid img{
			min-width: 100%;
			height: 40%;
			margin-top: 5%;
			margin-bottom: 10%;	
			box-shadow: 5% 5% 5% #fff;
			border-radius: 5%;
		}
		div.auction_title{
			max-width: 90%;
			max-height: 35%;
			padding-left: 2%;

   			color: #e4e4e4;
   			font-size: 0.65em;
			font-family: 'Arial', Sans-serif;
			font-weight: bold;

		}
		div.price{
			font-size: 0.55em;
			color: white;
			text-shadow: none;
			font-weight: lighter;
			margin-top: 5%;
			text-align: center;
		}


		.not-active{
   			text-decoration: none;
		}

	